* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0a0a0a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  color: white;
}

h1{
    margin-bottom: 20px;
}

.container{
    background-color: #1a1a1a;
    height: 50px;
    width: 50vw;
    border-radius: 10px;
}

.box{
    height: 50px;
    width: 50vw;
    border-radius: 10px;
    animation-name: progress;
    animation-duration: 8s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes progress {
    from{
        background-color: orange;
        width: 0;
    }
    to{
        background-color: orange;
        width: 100%;
    }
}
