* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  height: 100vh;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-align: center;
  padding-top: 1rem;
}

div {
  border: 1px solid white;
  height: 30vw;
  width: 30vw;
  margin-left: 35%;
  margin-top: 1rem;
  border-radius: 1rem;
}

img {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
    object-fit: fill;
}
button {
  text-align: center;
  margin-left: 45%;
  margin-top: 1rem;
  font-size: larger;
  padding: 5px 30px;
  border-radius: 10px;
  border: none;
  font-family: cursive;
  cursor: pointer;
}
