* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #00d2f7;
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(
    130deg,
    rgb(0, 255, 30) 0%,
    rgb(0, 68, 255) 100%
  );
  height: 100vh;
  padding: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
}

.main-tasks-container{
    height: fit-content;
    width: 30vw;
    display: flex;
    flex-direction: column;
    /* padding: 1rem; */
}

.heading{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 2.2rem;
    font-weight: 600;
}

.sub-task{
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    padding: 1rem;
    border-top: 1px solid black;
}

.sub-task button{
    background-color: #fff;
    border: none;
    cursor: pointer;
}

form{
    padding: 1rem;
    /* border: 1px solid black; */
    height: fit-content;
    display: flex;
    gap: 10px;
    width: 40vw;
    background-color: white;
    border-radius: 10px;
}

form input{
    padding: 0.5rem;
    font-family: "Montserrat", sans-serif;
    width: 90%;
    font-size: 1.1rem;
    border-radius: 5px;
}

form button{
    border: 2px solid greenyellow;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.8s;
}

form button:hover{
    background-color: greenyellow;
}

@media screen and (max-width:710px){
    body{
        flex-direction: column;
    }
    
}