*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 600px;
    width: 600px;
}

.white{
    background-color: #ffffff;
}

.brown{
    background-color: rgb(255, 128, 0);
}